<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Download Page</h1>
    <p>Here is your <a th:href="@{https://bigcontainer.sgp1.digitaloceanspaces.com/OMAC/csv/{fileName}.csv(fileName=${fileName})}">download</a>!</p>
    <form method="POST" action="/sendemail">
        <input type="hidden" name="fileName" th:value="${fileName}">
        <table>
            <tr>
                <td>Have the file sent to your email:</td>
                <td><input type="text" name="toEmail" placeholder="your email" required></td>
                <td><button type="submit">Send!</button></td>
            </tr>
        </table>
    </form>
    <a th:href="@{/}">Back</a>
</body>
</html>