<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the Help! page.</h1>
    The app works pretty straightforward, user should upload a .csv file populated with street names like the following files. 
    <a th:href="@{https://bigcontainer.sgp1.digitaloceanspaces.com/OMAC/Sample/SG%20Streets%20Name%20-%2010.csv}">10</a>,
    <a th:href="@{https://bigcontainer.sgp1.digitaloceanspaces.com/OMAC/Sample/SG%20Streets%20Name%20-%2015.csv}">15</a>, or
    <a th:href="@{https://bigcontainer.sgp1.digitaloceanspaces.com/OMAC/Sample/SG%20Streets%20Name%20-%2025.csv}">25</a> Singapore street names
    <br>
    <br>
    As Heroku has a request timeout duration of 30s, for 20 and above searches we recommend having the file sent straight to your email instead.
    <br> 
    The two things to look out for are the column header should be "address" and the column fields should ONLY consist of the street name. 
    <br>
    <br>
    After the query is complete, a file is created on DO spaces and a direct download link to the file is given to the user, 
    the user can then either choose to download the file locally or have it sent to their email instead.
    <br>
    <br>
    <a th:href="@{/}">Back</a>
</body>
</html>